@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #e5e5e5;
  font-size: 0.9rem;
  line-height: 1.5;
  background-color: #434753;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
